


<div class="main">

    <!-- <img src="assets/images/dj.jpg" alt="" width="400" > -->
    <div>
<br>
        <h1 style="padding: 8px 90px;"> <b>  Music Player </b></h1>

    </div> <br>

    <h2 > <b> songs</b></h2><br><br>
    <div *ngFor="let mp3 of songs ; index as i">
        <button mat-mini-fab color="warn" matTooltip="Play" (click)="listSong(i)">
            <mat-icon>play_circle_filled</mat-icon>
        </button> <b> {{mp3.title}}</b> <br> <br>
       
    </div>
    <br>
    <div *ngIf="now">
    Now Playing:{{currentPlay}}...
</div>

    <br>

    <br>




    <button mat-mini-fab color="warn" matTooltip="previous" (click)="previousSong()">
        <mat-icon>skip_previous</mat-icon>
    </button> &nbsp;

    <button mat-mini-fab color="warn" matTooltip="Play" (click)="playSong()" [hidden]="ishide">
        <mat-icon>play_circle_filled</mat-icon>
    </button> &nbsp;

    <button mat-mini-fab color="warn" matTooltip="pause" (click)="pauseSong()" [hidden]="!ishide">
        <mat-icon>pause</mat-icon>
    </button> &nbsp;


    <button mat-mini-fab color="warn" matTooltip="next" (click)="nextSong()">
        <mat-icon mat-list-icon>skip_next</mat-icon>
    </button>
</div>